{% extends 'base.html.twig' %}


{% block title %}
    Back Office - Gestion Parties
{% endblock %}

{% block style %}
    .bloc1{
        background-image: url({{ asset('img/fond.jpg') }});
        padding-top: 10vh !important;
    }
    .gestion{
        background-color: #181E2C;
        border-radius: 10px;
        float: left;
        width:18vw;
        height: 10vh;
        margin: 1vw;
        padding-top:3.5vh;
        cursor:pointer;
    }
    .gestion:hover{
        background-color:#303851;
    }
    .gestion p{
        text-align:center;
        font-size: 1.3em;
        font-family: 'Cinzel', serif;
        margin:0;
    }
    table
    {
        border-collapse: collapse;
        background-color: #181E2C;
        color: white;
        margin-left: 15vw;
    }
    td, th
    {
        padding: 2%;
        border: 1px solid black;
        min-width:10vw;
        text-align:center;
    }
    a{
        font-family: 'Cinzel', serif !important;
    }
    a:hover{
        color:red;
    }
{% endblock %}

{% block bloc1 %}
    <a href="{{ path('admin') }}"><p><- Retour admin</p></a>
    <a href="{{ path('adminuser') }}"><p style="float: right;">Gestion User -></p></a><br/>
    <h2>Admin - Gestion des Parties</h2>
    <div class="col-12">
        <table>
            <tr>
                <th>Id</th>
                <th>Joueur1</th>
                <th>Joueur2</th>
                <th>Nombre de manche</th>
                <th>Vainqueur</th>
                <th>Supprimer</th>
            </tr>
            {% for partie in parties %}
                <tr>
                    <td>{{ partie.id }}</td>
                    <td>{{ partie.J1.Username }}</td>
                    <td>{{ partie.J2.Username }}</td>
                    <td>{{ partie.manche }}</td>
                    <td>{% if partie.vainqueur == 0 %}Pas de vainqueur{% elseif partie.vainqueur == 1 %}Joueur1{% elseif partie.vainqueur == 2 %}Joueur2{% endif %}</td>
                    <td><a href="{{ path('adminsupprimerpartie', {'idpartie': partie.Id}) }}">Supprimer</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>




{% endblock %}

