{% extends 'accueil/nonco_base.html.twig' %}


{% block title %}
    Bienvenue dans Halvel Battle
{% endblock %}

{% block style %}
    .bloc1{
        background-image: url({{ asset('img/fond.jpg') }});
    }
    #boutton{
    margin-top: 10vh;
    }
{% endblock %}

{% block bloc1 %}
    <div class="col-md-12">
        <img src="{{ asset('img/logo_blanc.png') }}" alt="Halvel Battle"/>
    </div>
    <div class="col-md-12" id="boutton">
        <a href="{{  path('inscription') }}"><img src="{{ asset('img/inscription.png') }}" alt="Inscription"/></a>
        <a href="{{  path('security_login') }}"><img src="{{ asset('img/connexion.png') }}" alt="Connexion"/></a>
    </div>

{% endblock %}

