{% extends 'accueil/nonco_base.html.twig' %}

{% block title %}
    S'inscrire à Halvel Battle
{% endblock %}

{% block style %}
    .bloc1{
        background-image: url({{ asset('img/fond_connexion.jpg') }});
        max-height:95vh;
    }
    .element{
        float: left;
        margin-bottom: -1vh;

    }
    #boutton{
        background-image: url({{ asset('img/inscription.png') }});
    }
    centaure{
        height:39vh;
    }
    label{
        padding: 1%;
        width: 15vw;
        border-radius: 10px 0 0 10px;
        background-color: #1B202F;
        color:white;
    }
    input{
        border-radius: 0 10px 10px 0;
        border: 0 solid;
        font-family: Poppins;
        padding-left: 1%;
    }
    button{
        height: 5vh;
        margin-top: 5vh;
        width: 10vw;
        background-color: #1B202F;
        color: white;
        border: 0px solid;
        border-radius: 10px;
    }
    button:hover{
        background-color: #151020;
    }
{% endblock %}

{% block bloc1 %}
    <div class="col-md-5 element">
        <img id="centaure" src="{{ asset('img/centaure.png') }}" alt="Halvel Battle"/>
    </div>
    <div class="col-md-5 element">
        <h3>Inscription</h3>
        {{ form_start(form) }}
        {{ form_row(form.username) }} <br/>
        {{ form_row(form.email) }} <br/>
        {{ form_row(form.password.first) }}<br/>
        {{ form_row(form.password.second) }}<br/>

        <button type="submit">S'inscrire !</button>
        {{ form_end(form) }}
        <p><a href="{{  path('security_login') }}">Déjà inscrit ?</a></p>
    </div>
{% endblock %}