{% extends 'base.html.twig' %}

{% block title %}
    Assistance
{% endblock %}

{% block style %}
    .bloc1{
        background-image: url({{ asset('img/assistance/fond.jpg') }});
    }
    #z1{
        padding-top: 12vh !important;
    }
    #button{
        padding-left:5vw;
        padding-right:5vw;
        margin-bottom:5vh;
    }
    #button img{
        margin: 1%;
        cursor: pointer;
    }
{% endblock %}

{% block bloc1 %}

    <div class="col-md-7">
        <h4>Notre équipe est là pour répondre à toutes vos questions !</h4>
        <label for="sujet">Sujet</label>
        <input type="text" name="sujet">
        <label for="message">Message</label>
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
    </div>
    <div class="col-md-4 colonne">
        <div class="chat">
            <div id="chat">
                <h2>Chat Global</h2>
                {% for message in chat %}

                    {% if message.PseudoId == joueur.Id %}
                        <div class="message">
                            <img class="avatars" src="{{ asset(joueur.UserImage)}}" alt=""><h5>Moi : </h5> <p>{{ message.MessageGlobal }}</p>
                            <br>
                        </div>

                    {% endif %}
                    {% for tjoueurs in joueurs %}
                        {% if message.PseudoId == tjoueurs.Id and message.PseudoId != joueur.Id  %}
                            <div class="message">
                                <img class="avatars" src="{{ asset(tjoueurs.UserImage)}}" alt=""><h5>{{ tjoueurs.Username }} : </h5><p>{{ message.MessageGlobal }}</p>
                                <br>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <input class="chatinput" type="text" placeholder="Votre message...">
            <input class="chatsubmit" type="submit" value="envoyer">
        </div>
    </div>
    <script>
        $(document).ready(function(){
            function envoyer(message){
                $.ajax({
                    url: "{{ path("new_message") }}",
                    method: 'post',
                    data: {'message': message}
                });
            }


            $('.chatsubmit').click(function() {
                message = $('.chatinput').val();
                envoyer(message);
                $('.chatinput').val("");
            });

            setInterval(function () {
                $("#chat").load("{{ path('chat') }}");
            }, 1000);
        });
    </script>
{% endblock %}