{% extends 'base.html.twig' %}

{% block title %}
    Voici votre profil
{% endblock %}

{% block style %}
    .bloc1{
        background-image: url({{ asset('img/fond3.png') }});
    }
    #boutton{
        margin-top: 10vh;
    }
    img{
        width:8vw;
        text-align: left;
        float: left;
    }
    #modifier{
        text-align:center;
        margin:0;
    }
    #ami{
        height:6vh;
    }
    #searchbarre{
        display:none;
    }
    #inputsearch{
        margin-left: 4vw;
        height: 5vh;
        text-align: left;
        margin-top: 1vh;
        margin-bottom: 1vh;
        float: left;
        background-color: #151020;
        color: white;
        border: 0 solid;
        border-radius: 10px 0px 0px 10px;
        padding-left: 10px;
    }
    #submitsearch{
        height: 5vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
        float:left;
        width: 8vw;
        background-color: #151020;
        color: white;
        border: 0px solid;
        border-radius: 0px 10px 10px 0px;
    }
{% endblock %}

{% block bloc1 %}
        <div class="col-md-4 info colonne">
            <div id="infojoueur">
                <div id="img">
                    <a href="{{ path("modifier_avatar") }}"><img src="{{ asset(joueur.UserImage) }}" alt=""></a>
                </div>
                <div id="joueur">
                    <h2>{{ joueur.Username }}</h2>
                    <p  id="modifier"><a href="{{ path("modifier_informations") }}">Modifier mes informations</a></p>
                </div>
            </div>


            <div id="stats">
                <h2>Statistiques</h2>
                <p>Nombre de parties jouées : {{ joueur.UserJouees }}</p>
                <p>Nombre de parties gagnées : {{ joueur.UserWin }}</p>
                <p>Nombre de parties perdues : {{ joueur.userJouees - joueur.UserWin }}</p>
                {% if joueur.userJouees != 0 %}
                    <p>Ratio : {{ ((joueur.UserWin / joueur.userJouees)|round(2, 'floor'))*100 }}% de victoire</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4 info section">
            <h2>Amis</h2>
            {% for ami in amis %}
                {% if ami.IdAmi1 == joueur.Id %}
                        {% for tjoueurs in joueurs %}
                            {% if ami.IdAmi2 == tjoueurs.Id %}
                                <div id="ami">
                                    <a href="{{ path("joueur", {'id': tjoueurs.Id }) }}"><img class="avatars" src="{{ asset(tjoueurs.UserImage) }}" alt=""><p class="pseudojoueurs">{{  tjoueurs.Username }}<br/>Score : {{ tjoueurs.UserWin }}</p></a>
                                </div>

                                <hr>
                                {% endif %}
                        {% endfor %}
                {% endif %}
            {% endfor %}
            <p id="search" style="cursor:pointer;font-family: Cinzel;margin-bottom:1%;">Rechercher un joueur</p>
            <div id="searchbarre"><input id="inputsearch" type="text" placeholder="Pseudo joueur..."><button id="submitsearch">Rechercher</button></div>
            <div id="resultat"> </div>
        </div>
        <div class="col-md-4 info section">
        <h2>Classement</h2>
            {% set numero = 1 %}
        {% for i in 1000..0 %}
            {% for classement in rang %}
                {% if classement.UserWin == i %}
            <a href="{{ path("joueur", {'id': classement.Id }) }}">
                <img class="avatars" src="{{ asset(classement.UserImage)}}" alt=""><p class="position"># {{ numero }} : {{ classement.Username }}</p><br/>
                <p> Score : {{ classement.UserWin }}</p>
            </a>
                    <hr>
                    {% set numero = numero + 1 %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    <script>
        $(document).ready(function () {
            $('#search').click(function() {
                $('#search').hide(500);
                $('#searchbarre').show(500);
            });
            $('#submitsearch').click(function (){
               if($('#inputsearch').val() != ''){
                   var url = "{{ path('rechercher_joueur', {'username': 'text' }) }}";
                   var username = $('#inputsearch').val();
                   console.log(username);
                   url = url.replace("text", username);
                    console.log(url);
                   $('#resultat').load(url);
               }
            });
        });
    </script>

{% endblock %}
